@charset "UTF-8";
.center{
	text-align: center;
}
	
.red{
	background-color: red;
}

.yellow{
	background-color: yellow;
}

.blue{
	background-color: blue;
}

.green{
	background-color: green;
}

.pd10{
	padding: 10px;
}