@charset "UTF-8";

.content{
	width: 600px;
	margin: 0 auto;
}

.title{
	background-color: #e91e63;
	padding: 12px;
	color: white;
	text-align: center;
}

.fr{
	margin-top: 20px;
}

label{
	float: left;
	width: 150px;
	text-align: right;
}

#gfr{
	float: left;
	width: 420px;
	margin-bottom: 20px;
}

#gfr > div{
	width: 50%;
	float: left;
	text-align: center;
}

[type="radio"]:checked{
	width: 50px;
	height: 50px;
}

.ft16{
	font-size: 16pt;
}
.ft14{
	font-size: 14pt;
}
.ft12{
	font-size: 12pt;
}
.bold{
	font-weight: bold;
}

.hr{
	clear: left;
	margin-bottom: 20px;
}

.input_div_all{
	float: left;
	width: 450px;
	height: auto;
	margin-bottom: 20px; 
}

.input_div{
	display: inline-block;
	width: 140px;
	padding: 0px 0px 5px 68px;
} 

div > input[type = "checkbox"]{
	display: inline-block;
}

[type="checkbox"]:checked{
	width: 30px;
	height: 30px;
}
