@charset "UTF-8";
.frm{
	display: block;
	width: 650px;
	margin: 0 auto;	
}

.title{
	background-color: #e91e63;
	padding: 12px;
	color: white;
	text-align: center;
}

#frm > div{
	font-size: 0pt;
	margin-bottom: 10px;
}

label {
	display: inline-block;
	width: 200px;
	text-align: right;
	font-size: 16px;
	font-weight: bold;
	color: gray;
	margin-right: 20px;
}

input {
	display: inline-block;
	width: 300px;
	font-size: 16pt;
}

span {
	display: block;
}

button {
	display: inline-block;
	width: 30%;
	height: 20px;
}

/* :disabled {
	background-color: red;
	color: white;
} */

input[disabled] {
	background-color: red;
	color: white;
}

input[readonly] {
	background-color: dodgerblue;
	color: white;
	border: 0px solid red;
}
