.content{
	text-align: center;
	font-size: 0px;
}

.box{
	display: inline-block;
	font-size: 14pt;
	width: 100px;
	height: 100px;
	border: 2px solid gray;
}

span {
	position: relative;
	top: 35px;
}

.content:first-child > .row:nth-child(2) > .box:nth-child(2){
	background-color: red;
	margin: 10px 20px 30px 40px;
}

.content:nth-child(3) > .row:nth-child(2) > .box:nth-child(2) {
	background-color: red;
	margin: 10px 30px 50px;
}

.content:nth-child(5) > .row:nth-child(2) > .box:nth-child(2) {
	background-color: red;
	margin: 10px 30px;
}

.content:nth-child(7) > .row:nth-child(2) > .box:nth-child(2) {
	background-color: red;
	margin: 30px;
}